body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3vw 5vw 3vw 5vw;
  justify-content: center;
  align-items: center;
  background-color: #6b9aae
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header div {
  display: flex;
  gap: 2vh;
}

#input {
  border: 1px solid black;
  border-radius: 2vh;
  padding: 5px;
}

#add {
  background-color: #000075;
  border: none;
  border-radius: 2vh;
  padding: 7px;
  color: white;
  cursor: pointer;
}

#list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul li {
  margin: 2vh;
}

.gabage {
  border: none;
  background-color: #6b9aae;
  color: red;
  cursor: pointer;
}

.edit {
  border: none;
  font-size: 11px;
  text-decoration: underline;
  background-color: #6b9aae;
  cursor: pointer;
}
